# GroupBy I

In [1]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: True
Cloning into 'DataScienceSS20'...
remote: Enumerating objects: 352, done.
remote: Total 352 (delta 0), reused 0 (delta 0), pack-reused 352
Receiving objects: 100% (352/352), 63.03 MiB | 24.77 MiB/s, done.
Resolving deltas: 100% (120/120), done.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. 
User ***Jupyter Lab*** to view ``path+"/DATA/drinks.cvs"``.

### Step 3. Assign it to a variable called drinks.

In [13]:
drinks = pd.read_csv(path+"/DATA/drinks.csv")
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

### Step 4. Which continent drinks the most beer on average?

In [20]:
continent = drinks.groupby("continent")
continent.beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [21]:
continent.wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [22]:
continent.total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [28]:
continent.median()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

### Step 8. Print the mean, min and max values for spirit consumption.

In [23]:
continent.total_litres_of_pure_alcohol.agg(["mean","min","max"])

               mean  min   max
continent
AF         3.007547  0.0   9.1
AS         2.170455  0.0  11.5
EU         8.617778  0.0  14.4
OC         3.381250  0.0  10.4
SA         6.308333  3.8   8.3